@media screen and (max-width: 991.999px) {

    header {
        margin-top: 4px;
        padding-top: 10px;
        .navbar {
            // padding-top: 18px;
            // padding-bottom: 18px;
            margin-top: 3px;
            .navbar-brand {
                // margin-top: -27px;
                margin-left: 20px;
                img {
                    width: 126px;
                    height: 35px;
                }
            } 
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-toggler {
        display: flex;
    }

    .navbar-collapse {
        background-color: $bg-color-carts;
        margin-top: 11px;
        // display: block;
        flex-direction: column;
        max-width: 992px;
        .navbar-nav {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .nav-item {
                margin: 34px auto -39px;
                padding-left: 15px;
                .nav-link {
                    font-size: 24px;
                    line-height: 222%;
                }
            }
        }

        .btn-tao-1 {
            width: 295px;
            min-height: 68px;
            margin-top: 62px;
            margin-left: 15px;
            margin-bottom: 60px;
        }
    }
}




