@media (max-width: 1400px) {

    // slider
  
    .first-screen {
      .first-screen-slider {
          .container-xl {                
              .sld {
                 max-width: 1030px;
              }
          }
      }
  }

  // form

  .calculation {
    .calculation__img-box {
        .calculation-img {
            width: 30vw;
        }
    }
  }

  
  // advantages

    .advantages {
        .row {
            margin-left: 0;
        }
    }


  // delivery 

  .delivery {

    .slider-template {
        max-width: 749px;
        margin: 0 auto;
    }

    .slide-box {
        .slide-btn {
            .btn-tao-1 {
                padding: 8px;
            }
        }
    }
  }

  // services

    .services{

        .slider-template {
            max-width: 749px;
            margin: 0 auto;
        }

        .slide-box {
            .slide-btn {
                .btn-tao-1 {
                    padding: 8px;
                }
            }
        }
    }
}


@media screen and (max-width: 1299px) {

     // slider
    
     .first-screen {
        .first-screen-slider {
            .container-xl {                
                .sld {
                   max-width: 850px;
                }
            }
        }
    }


    // form

    .calculation {
        .calculation__img-box {
            .calculation-img {
              width: 25vw;
            }
        }
    }

    .services {
        .slide-box {

            .services-info {
                bottom: 25px;
            }

            .slide-title {
                font-size: 22px;
            }

            .slide-description {
                font-size: 14px;
            }
        }
   
    }

}

@media screen and (max-width: 1199px) {

    //faq
    
   .faq {
    .form {
        margin-left: 34px;
    }
   } 
}

@media screen and (max-width: 1100px) {
    .calculation {
        .calculation__img-box {
            .calculation-img {
                width: 20vw;
            }
        }
    }    
}
