@media screen and (max-width: 991px) {

    header {
        margin-top: 4px;
        padding-top: 10px;
        .navbar {
            margin-top: 3px;
            .navbar-brand {
                margin-left: 20px;
                img {
                    width: 126px;
                    height: 35px;
                }
            } 
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-toggler {
        display: flex;
    }

    .navbar-collapse {
        background-color: $bg-color-carts;
        margin-top: 11px;
        flex-direction: column;
        max-width: 992px;
        .navbar-nav {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .nav-item {
                margin: 34px auto -39px;
                padding-left: 15px;
                .nav-link {
                    font-size: 24px;
                    line-height: 222%;
                }
            }
        }

        .btn-tao-1 {
            width: 295px;
            min-height: 68px;
            margin-top: 62px;
            margin-left: 15px;
            margin-bottom: 60px;
        }
    }


    // slider
    
    .first-screen {
        .first-screen-slider {
            height: 100vh;
            .container-xl {
                min-height: calc(100vh - 91px);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #0000008a;
                }
                .sld {
                    max-width: 1160px;
                    margin-bottom: 140px;
                    margin-left: 13px;
                    align-items: center;
                    z-index: 1;
                    .first-screen-slider__title{
                        max-width: 297px;
                        font-size: 32px;
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    .first-screen-slider__subtitle {
                        max-width: 276px;
                        font-size: 16px;
                        text-align: center;
                        margin-bottom: 18px;  
                    }
                }
            }
        } 
    }

    .slick-dots {
        left: calc(50% - 77px);
        bottom: 15%;
    }
}

