.first-screen {
    margin-top: 38px;
    margin-left: -4px;
    margin-bottom: 94px;
    display: flex;
    justify-content: center;
    max-width: 6000px;            // начало тут сделал чтоб при маштабировании не разбегались блоки
    width: 100%;                  // конец
    position: relative;
    .first-screen-slider {
        max-width: 1820px;
        width: 100%;
        .container-xl {
                max-width: 1920px;
                min-height: 700px;
                width: 100%;
                display: flex;
                align-items: center;
            .sld{
                max-height: 310px;
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-bottom: 60px;
                .first-screen-slider__title{
                    max-width: 475px;
                    color: $bg-color-words;
                    font-weight: 700;
                    font-size: 56px;
                    line-height: 126%;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }
                
                .first-screen-slider__subtitle {
                    max-width: 345px;
                    color: $bg-color-words;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 135.5%;
                    margin-bottom: 35px; 
                }
            }
        }
    }
}

.first-screen-slider__arrows {
    position: absolute;
    max-width: 1655px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slick-prev,
.slick-next {
    background: none;
    background: url(assets/img/prev-arrow.svg);
    width: 46px;
    height: 46px;
    border: none;
    font-size: 0;
    margin-left: 65px;
    &:hover {
        background-image: url(assets/img/arrow-hover.svg);
        background-repeat: no-repeat;
        margin-left: 75px;
    }
}

.slick-next {
    background: url(assets/img/nexxt-arrow.svg);
    margin-right: 65px;
    &:hover {
        transform: rotate(180deg);
        margin-right:75px;
    }
}

.slick-dots {
    display: flex;
    list-style-type: none;
    font-size: 0;
    position: absolute;
    // left: 47%;
    left: calc(50% - 85px);
    max-width: 110px;
    bottom: 4%;
    button {
        padding: 0;
        width: 8px;
        height: 8px;
        border: none;
        border-radius: 50%;
        background: none;
        border: 2px solid $bg-color-words;
        margin-right: 26px;
    }

    .slick-active {
        background-color: $bg-color-words;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin-right: 26px;
    }
}


.slick-list {
    .slick-track {
        min-width: 700px;
        width: 100%;
    }

}