
::selection {
    color: $bg-color-words;
    background-color: $bg-color-green;
}

body {
    font-family: 'ProximaNova';
    font-weight: 400;
    background-color: $bg-color-page;
    color: $bg-color-words;
}

.advantages, .services, .faq {
    .template-title {
        position: relative;
        text-align: center;
        padding-bottom: 18px;
        margin-bottom: 35px;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: calc(100% - 7px);
            transform: translate(-50%, 0);
            width: 85px;
            height: 2px;
            background-color: $bg-color-btn;
        }

        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 124.5%;
            text-transform: uppercase;
            margin-bottom: 6px;
        }
    } 
}

.delivery, .about-company, .cooperation {
    .template-title {
        position: relative;
        text-align: center;
        padding-bottom: 18px;
        margin-bottom: 35px;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: calc(100% - 5px);
            transform: translate(-50%, 0);
            width: 85px;
            height: 2px;
            background-color: $bg-color-green;
        }

        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 124.5%;
            text-transform: uppercase;
            margin-bottom: 6px;
        }
    } 
}


// section {
//     min-width: 1820px;
// }

// .template-titlle:nth-child(even) {
//     position: relative;
//     text-align: center;
//     padding-bottom: 18px;
//     margin-bottom: 35px;
//     &::after {
//         content: "";
//         position: absolute;
//         left: 50%;
//         top: calc(100% - 7px);
//         transform: translate(-50%, 0);
//         width: 85px;
//         height: 2px;
//         background-color: $bg-color-btn;
//     }
//     h2 {
//         font-weight: 700;
//         font-size: 36px;
//         line-height: 124.5%;
//         text-transform: uppercase;
//         margin-bottom: 6px;
//     }
// }

// .template-titlle:nth-child(odd) {
//     position: relative;
//     text-align: center;
//     padding-bottom: 18px;
//     margin-bottom: 35px;
//     &::after {
//         content: "";
//         position: absolute;
//         left: 50%;
//         top: calc(100% - 5px);
//         transform: translate(-50%, 0);
//         width: 85px;
//         height: 2px;
//         background-color: $bg-color-green;
//     }
//     h2 {
//         font-weight: 700;
//         font-size: 36px;
//         line-height: 124.5%;
//         text-transform: uppercase;
//         margin-bottom: 6px;
//     }
// }

section {
    max-width: 1920px; //если со слайдером трабл то из за этого
}


    .container-fluid {
        padding: 90px 85px 100px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 42px;
            right: 42px;
            top: 0;
            height: 100%;
            background: $bg-color-carts;
            border-radius: 20px;
            z-index: -1;
        }
    }


.btn-tao-1:hover,
.btn-tao-2:hover,
.btn-tao-3:hover {
    background-color: $bg-color-green;
}

header{
    .navbar-nav {
        .nav-item {
            .nav-link:hover {
                color: $bg-color-green;
            }
        }
    }
}
    

h1, h2, h3, h4, h5, h6 {
    color: $bg-color-words;
}

.text-left,
.col-md-7 {
    text-align: left;
}

h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.25;
}

.input-row {
    display: flex;
}

.col-md-7 {
    margin-bottom: 35px;
    h2 {
        &::after {
            content: "";
            position: static;
            display: inline-block;
            width: 85px;
            height: 2px;
            margin: 10px 10px 10px 19px;
            background-color: $bg-color-green;
        }
    }
}

.input-box {
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    input {
        border-radius: 10px;
        padding: 16px 10px;
        border: none;
        &:focus-visible {
            outline: none;
        }
    }

    label {
        // font-weight: 600; так было
        font-weight: 100;
        font-size: 15px;
        line-height: 126%;
        margin-bottom: 6px;
        &:hover {
            color: $bg-color-green;
        }
    }
}
