::selection {
    color: $bg-color-words;
    background-color: $bg-color-green;
}

body {
    font-family: 'ProximaNova';
    font-weight: 400;
    background-color: $bg-color-page;
}

.btn-tao-1:hover,
.btn-tao-2:hover {
    background-color: $bg-color-green;
}

a .nav-link:hover {
    color: $bg-color-green;
}

section {
    padding-left: 50px;
    padding-right: 50px;
}