
header {
	display: flex;
	justify-content: center;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 27px;
	// height: 50px;
	.logo {
		width: 100%;
		max-width: 172px;
		height: auto;
		padding: 0;
		img {
			width: 100%;
			height: auto;
		}
	}

	.btn-tao-1 {
		margin-bottom: 0;
	}

	.navbar {
		width: 100%;
		padding: 0;
	}

	.navbar-nav {
		max-width: 622px;
		width: 100%;
		justify-content: space-between;
		.nav-item {
			margin: 0;
			white-space: nowrap;
			font-weight: 100;

			.nav-link {
				color: $bg-color-words;
				margin-right: 0px;
			}
		}
	}
}

.navbar-expand-lg {
	display: flex;
	justify-content: space-between;
}

.navbar-collapse {
	display: flex;
	justify-content: space-between;
	max-width: 880px;
	.btn-tao-1 {
		margin-bottom: 0;
	}
}

.navbar-toggler {
	width: 40px;
	height: 40px;
	position: relative;
	border: none;
	&:focus {
		box-shadow: none;
	}

	.navbar-toggler-icon {
		width: 27.5px;
		height: 2.5px;
		background-color: $bg-color-words;
		position: absolute;
		// top: -5px;
		transition: 0.5s;
		top: 50%;
		left: 46%;
		transform: translate(-44%, -50%);
		box-shadow: none;
		border: none;
		outline: none;
		background-image: none;
		&::after,
		&::before {
			content: "";
			width: 27.5px;
			height: 2.5px;
			background-color: $bg-color-words;
			display: inline-block;
			position: absolute;
			left: 0;
			top: -11px;
			transition: 0.5s;
		}

		&::before {
			top: initial;
			left: 0;
			bottom: -11px;
		}
	}
	&[aria-expanded="false"] {
	}

	&[aria-expanded="true"] {
		.navbar-toggler-icon {
			background-color: transparent;
			&::after {
				transform: translateX(-11px) rotate(-45deg) translateY(15px);
			}

			&::before {
				transform: translateX(-12px) rotate(45deg) translateY(-17px);
			}
		}
	}
}
