<section class="about-company">
    <div class="container row row-company">
        <div class="template-column col">
            <div class="template-title-3 text-left">
                <h2>О компании</h2>
            </div>
            <div class="template-title__description">
                <p class="text">Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.</p>
                <p class="text text-2">Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
            </div>
        </div>
        <div class="col">
            <img src="assets/img/notebook.png" alt="#">
        </div>
    </div>
</section>