<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/auto-defolt.png" class="img-fluid" alt="#">
                    </div>
                    <h5 class="slide-title">Авто - обычная</h5>
                    <div class="slide-options">
                        <div class="option-item"> <i class="icon icon-calenda"></i> 9-15 дней</div>
                        <div class="option-item"> <i class="icon icon-box"></i> от 5 кг</div>
                    </div>
                    <div class="slide-price">
                        <ins class="amount">
                            <span class="ot" >от</span>
                            <bdi>2,5<span class="currency symbol">$/кг</span></bdi>
                        </ins>
                    </div>
                    <div class="slide-btn">
                        <button type="button" class="btnn btn-tao-1">Оставить заявку</button>
                        <button type="button" class="btnn btn-tao-6">Подробнее</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/avto-speed.png" class="img-fluid" alt="#">
                    </div>
                    <h5 class="slide-title">Авто - ускоренная</h5>
                    <div class="slide-options">
                        <div class="option-item"> <i class="icon icon-calenda"></i> 9-15 дней</div>
                        <div class="option-item"> <i class="icon icon-box"></i> от 5 кг</div>
                    </div>
                    <div class="slide-price">
                        <ins class="amount">
                            <span class="ot" >от</span>
                            <bdi>2,5<span class="currency symbol">$/кг</span></bdi>
                        </ins>
                    </div>
                    <div class="slide-btn">
                        <button type="button" class="btnn btn-tao-1">Оставить заявку</button>
                        <button type="button" class="btnn btn-tao-6">Подробнее</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/plane.png" class="img-fluid" alt="#">
                    </div>
                    <h5 class="slide-title">Авиа</h5>
                    <div class="slide-options">
                        <div class="option-item"> <i class="icon icon-calenda"></i> 9-15 дней</div>
                        <div class="option-item"> <i class="icon icon-box"></i> от 5 кг</div>
                    </div>
                    <div class="slide-price">
                        <ins class="amount">
                            <span class="ot" >от</span>
                            <bdi>2,5<span class="currency symbol">$/кг</span></bdi>
                        </ins>
                    </div>
                    <div class="slide-btn">
                        <button type="button" class="btnn btn-tao-1">Оставить заявку</button>
                        <button type="button" class="btnn btn-tao-6">Подробнее</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/train.png" class="img-fluid" alt="#">
                    </div>
                    <h5 class="slide-title">Ж/д</h5>
                    <div class="slide-options">
                        <div class="option-item"> <i class="icon icon-calenda"></i> 9-15 дней</div>
                        <div class="option-item"> <i class="icon icon-box"></i> от 5 кг</div>
                    </div>
                    <div class="slide-price">
                        <ins class="amount">
                            <span class="ot" >от</span>
                            <bdi>2,5<span class="currency symbol">$/кг</span></bdi>
                        </ins>
                    </div>
                    <div class="slide-btn">
                        <button type="button" class="btnn btn-tao-1">Оставить заявку</button>
                        <button type="button" class="btnn btn-tao-6">Подробнее</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/boat.png" class="img-fluid" alt="#">
                    </div>
                    <h5 class="slide-title">Море</h5>
                    <div class="slide-options">
                        <div class="option-item"> <i class="icon icon-calenda"></i> 9-15 дней</div>
                        <div class="option-item"> <i class="icon icon-box"></i> от 5 кг</div>
                    </div>
                    <div class="slide-price">
                        <ins class="amount">
                            <span class="ot" >от</span>
                            <bdi>2,5<span class="currency symbol">$/кг</span></bdi>
                        </ins>
                    </div>
                    <div class="slide-btn">
                        <button type="button" class="btnn btn-tao-1">Оставить заявку</button>
                        <button type="button" class="btnn btn-tao-6">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>