<section class="faq">
    <div class="container">
        <div class="template-title-2">
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <div class="row">
            <div class="col col-accordion">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-One">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-One" aria-expanded="false" aria-controls="flush-collapse-One">
                                Как рассчитывается стоимость доставки?
                          </button>
                        </h2>
                        <div id="flush-collapse-One" class="accordion-collapse collapse" aria-labelledby="flush-heading-One" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-Two">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Two" aria-expanded="false" aria-controls="flush-collapse-Two">
                                Как происходит оплата за доставку груза?
                            </button>
                        </h2>
                        <div id="flush-collapse-Two" class="accordion-collapse collapse" aria-labelledby="flush-heading-Two" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-Three">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Three" aria-expanded="false" aria-controls="flush-collapse-Three">
                                Как происходит оплата за доставку груза?
                            </button>
                        </h2>
                        <div id="flush-collapse-Three" class="accordion-collapse collapse" aria-labelledby="flush-heading-Three" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-Four">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Four" aria-expanded="false" aria-controls="flush-collapse-Four">
                                Можно ли через вас оплатить товар поставщику?
                          </button>
                        </h2>
                        <div id="flush-collapse-Four" class="accordion-collapse collapse" aria-labelledby="flush-heading-Four" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-Five">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Five" aria-expanded="false" aria-controls="flush-collapse-Five">
                                В чём особенность КАРГО доставки из Китая
                            </button>
                        </h2>
                        <div id="flush-collapse-Five" class="accordion-collapse collapse" aria-labelledby="flush-heading-Five" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-Six">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Six" aria-expanded="false" aria-controls="flush-collapse-Six">
                                Какой срок доставки из Китая?
                            </button>
                        </h2>
                        <div id="flush-collapse-Six" class="accordion-collapse collapse" aria-labelledby="flush-heading-Six" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</div>
                        </div>
                    </div>
                </div>
            </div>

            <form class="form">
                <div class="col col-form">
                    <h2>Остались вопросы?</h2>
                    <h3>Оставьте заявку и наш менеджер ответит вам в ближайшее время</h3>
                    <div class="input-box">
                        <input type="fname" id="fname" name="fname" placeholder="   Имя*">
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="  Телефон *">
                        <input type="email" id="email" name="email" placeholder="  E-mail">
                        <input type="text" id="text" name="text" placeholder="  Ваш вопрос">
                        <button type="button" class="btnn btn-tao-4">Отправить запрос<img src="assets/img/arrow-master-tao.svg" alt=""></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>