<section class="services container-fluid" >
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="slide-box"  style="background-image: url(assets/img/services-1.png); height: 482px;">
                    <div class="services-info">
                        <h5 class="slide-title">Выкуп товара</h5>
                        <div class="slide-decription">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                        <div class="slide-btn">
                            <button type="button" class="btnn btn-tao-6">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div> 

            <div>   
                <div class="slide-box" style="background-image: url(assets/img/services-2.png); height: 482px;">
                    <div class="services-info">
                        <h5 class="slide-title">Страховка груза</h5>
                        <div class="slide-decription">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                        <div class="slide-btn">
                            <button type="button" class="btnn btn-tao-6">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>    

            <div>
                <div class="slide-box" style="background-image: url(assets/img/services-3.png); height: 482px;">
                    <div class="services-info">
                        <h5 class="slide-title">Аренла склада</h5>
                        <div class="slide-decription">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                        <div class="slide-btn">
                            <button type="button" class="btnn btn-tao-6">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box" style="background-image: url(assets/img/services-4.png); height: 482px;">
                    <div class="services-info">
                        <h5 class="slide-title">Выкуп товара</h5>
                        <div class="slide-decription">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                        <div class="slide-btn">
                            <button type="button" class="btnn btn-tao-6">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>